/* Ini CSS */

.header>h1 {
    margin: 0px;
    background-color: aquamarine;
    padding: 24px;
    text-align: center;
}


.section-content {
    background-color: rgb(164, 59, 224);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.section-content>h3 {
    margin: 0;
}

#switch-keliling {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: white;
    border: 0px;
    color: rgb(7, 7, 6);
}

.formula-img {
    text-align: center;
}

img {
    height: 200px;
    height: auto;
}

input {
    background-color: bisque;
    border: 1px solid rgb(164, 59, 224);
    border-radius: 4px;
    width: 100%;
    padding: 4px;
    font-family: math;
}

form>button {
    padding: 18px;
    background-color: bisque;
    border: 1px solid rgb(164, 59, 224);
    border-radius: 18px;
}

.button-responsive>button {
    padding: 18px;
    background-color: bisque;
    border: 1px solid rgb(164, 59, 224);
    border-radius: 18px;
}

#reset-btn {
    background-color: rgb(125, 218, 221);
    color: white;
}

@media only screen and (min-width: 480px) {
    .button-responsive {
        flex-direction: column;
    }
}